body {
    background: rgb(61, 67, 143);
}

.align_escape {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnModal {
    background: rgb(0, 184, 12);
    color: white;
}

.btnModalWin {
    background: rgb(216, 4, 4);
    color: white;
}

.btnModal:hover {
    color: rgba(5, 38, 89, 1);
    background: white;
    border: 1px solid rgb(0, 184, 12);
}

.inactive-object {
    cursor: no-drop;
    opacity: 50%;
}

.active-object {
    cursor: pointer;
}


.bc_escape {
    overflow: hidden;
    /* Opcional */
    width: 80vw;
    height: 100vh;
    background-image: url('/img/bc_escape.png');
    background-size: cover;
    background-position: center;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
}

.icon_position {
    padding: 4rem;
    width: 50%;
    display: flex;
    justify-content: flex-start;

}

.box-icon {
    width: 40px;
    height: 40px;
    background-color: bisque;
}

.counter_position {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.counter {
    padding: 4rem;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backBtn {
    width: 5rem;
    height: 3rem;
    border: none;
    color: black;
    background-color: transparent;
    border-radius: 0.5rem;
}

.startBtn {
    padding: 1rem;
    border: none;
    color: black;
    background-color: white;
    border-radius: 0.5rem;
}

.startBtn:hover {
    color: white;
    background-color: blueviolet;
}

.pc-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 68%;
}

.pc-up-group {
    display: flex;
    justify-content: center;
}

.pc-down-group {
    display: flex;
    justify-content: center;
}

.tv-1 {
    width: 20%;
}

.tv-2 {
    width: 25%;
}

.tv-3 {
    width: 20%;
}


.tv-4 {
    width: 20%;
}

.tv-5 {
    width: 20%;
}

.tv-6 {
    width: 20%;
}

.tv-7 {
    width: 20%;
}

.group-2 {
    width: 100%;
    height: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-2 .group-3 {
    margin-bottom: 25rem;
    width: 65%;
}

.group-2 .group-3 .object7 {

    margin-top: 8rem;
}

.group-2 .group-4 {
    margin-bottom: 10rem;
    width: 65%;
}

.group-2 .group-4 .object4 {

    width: 12rem;
}



.group-5 {
    display: flex;
    flex-direction: column;
    margin-bottom: 27rem;
    margin-right: 21rem;
    gap: 4rem;
}

.group-5 .object3 {
    width: 3rem;
    /*  cursor: pointer; */
}