body {
    background-color: black;
}

.align_escape{
    display: flex;
    justify-content: center;
    align-items: center;
}


.bc_escape {
    overflow: hidden; /* Opcional */
    width: 80vw;
    height: 100vh;
    background-image: url('/img/bc_escape.png');
    background-size: cover;
    background-position: center;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
}

.icon_position{
    padding: 4rem;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    
}

.box-icon{
    width: 40px;
    height: 40px;
    background-color: bisque;
}

.counter_position{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.counter{
    padding: 4rem;
}


